<div class="container">
    <div>
        <h1>{{title}}</h1>
        <h5 [innerText]="tagline"></h5>
    </div>

    <table>
        <tr>
            <th>Acceseries</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>{{gadgets.name}}</td>
            <td>{{gadgets.price}}</td>
        </tr>
        <tr>
            <td>{{jackets.name}}</td>
            <td>{{jackets.price}}</td>
        </tr>
        <tr>
            <td>{{shoes.name}}</td>
            <td>{{shoes.price}}</td>
        </tr>
        <tr>
            <td>{{watches.name}}</td>
            <td>{{watches.price}}</td>
        </tr>
        <tr>
            <td>{{necklaces.name}}</td>
            <td>{{necklaces.price}}</td>
        </tr>

    </table>
</div>